<template>
    <span :class="classes"></span>
</template>
<script>
export default {
    props: {
        locale: {
            type: String
        }
    },
    computed: {
        classes () {
            return `flag-icon flag-icon-${this.locale}`
        }
    }
}
</script>

