<template>
    <v-navigation-drawer
    v-model="drawer"
    app
    clipped
    right
    >
        <v-list
        subheader
        >
            <v-subheader>Lingue disponibili</v-subheader>
            <v-list-tile
            v-for="locale in locales" :key="locale.id"
            :to="{params: {...$route.params, locale: locale.locale}, query: $route.query}"
            >
                <v-list-tile-avatar>{{locale.locale}}</v-list-tile-avatar>
                <v-list-tile-content>{{locale.native}}</v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
    data () {
        return {
            locales: []
        }
    },
    computed: {
        drawer: {
            get() {
                return this.$store.state.layout.languagesDrawer
            },
            set(drawerState) {
                return this.$store.commit('layout/SET_LAYOUT_LANGUAGES_DRAWER', drawerState)
            }
        }
    },
    created () {
        this.$api.get('i18n/locales').then(res => {
            this.locales = res.data
        })
    },
    methods: {
        ...mapActions('layout', ['closeLanguagesDrawer']),
        selectLanguage(lang) {
            this.$i18n.locale = lang.locale
            console.log(this.$route.params)
            this.closeLanguagesDrawer();
        }
    }
}
</script>
