<template>
<v-navigation-drawer
    v-model="drawer"
    temporary
    absolute
    right
>
    <v-list>
    <v-list-tile
        v-for="response in responses" :key="response.id"
    >
        <v-list-tile-action>
        <v-switch
            hide-details
            v-model="response.show" ma-0></v-switch>
        </v-list-tile-action>
        <v-list-tile-content>
        <v-list-tile-title>{{ response.id }}</v-list-tile-title>
        </v-list-tile-content>
    </v-list-tile>
    </v-list>
</v-navigation-drawer>
</template>

<script>
import { layoutHelpers, questuraHelpers } from '../store'
const { mapState: layoutState, mapMutations: layoutMutations } = layoutHelpers
const { mapState: questuraState } = questuraHelpers
export default {
    computed: {
        ...layoutState(['questuraDrawer']),
        ...questuraState(['responses']),
        drawer: {
            get () { return this.questuraDrawer },
            set (value) { return this.setQuesturaDrawer(value) }
        }
    },
    methods: {
        ...layoutMutations(['setQuesturaDrawer'])
    }
}
</script>
