<template>
<v-card
  class="cart--flex-toolbar overflow-x-hidden"
>
    <v-toolbar card
      color="blue"
    >
        <v-text-field
          v-model="q"
          :placeholder="$t('searchHint')"
          clearable
          single-line
          append-outer-icon="search"
          color="white"
          hide-details
          @click:append-outer="verifica(q)"
          @keypress.enter="verifica(q)"
        ></v-text-field>
        <v-btn icon
          @click="openQuesturaDrawer"
        >
            <v-icon>settings</v-icon>
        </v-btn>
    </v-toolbar>
    
    <v-card flat
      v-if="showCard"
    >
      <v-container fluid grid-list-lg>
        <v-layout row wrap>
          <v-flex xs12
            v-for="response in activeResponses" :key="response.id"
          >
            <questura-response :response="response" @close="response.show = false" />
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
</v-card>
</template>

<script>
import QuesturaResponse from './QuesturaResponse'
import { debounce } from 'lodash'
import { questuraHelpers, layoutHelpers } from '../store'
const { mapState, mapMutations, mapGetters, mapActions } = questuraHelpers
const { mapActions: layoutActions } = layoutHelpers
export default {
  components: { QuesturaResponse },
  data () {
    return {
      drawer: false
    }
  },
  computed: {
    ...mapState(['query', 'responses']),
    ...mapGetters(['hideCard', 'hasResponses', 'activeResponses', 'showCard']),
    q: {
      get () { return this.query },
      set (value) { this.setQuery(value) }
    }
  },
  created () {
    this.q = this.$route.query.q
  },
  methods: {
    ...mapMutations(['setQuery', 'setShowCard']),
    ...mapActions(['check']),
    ...layoutActions(['openQuesturaDrawer']),
    verifica: debounce(async function(q) {
      if (!q) {
        return
      }
      try {
        await this.check({q, locale: this.$i18n.locale})
        let { route } = this.$router.resolve({query: {q}})
        if (route) {
          this.$router.push(route)
        }
        this.q = null
      } catch (error) {
        console.error('error', error)
      }
        
    }, 5000, {leading: true, trailing: false})
  }
}
</script>
