<template>
<v-card flat>
    <v-toolbar card tabs>
        <v-toolbar-title>{{ id }}</v-toolbar-title>
        <v-spacer />
        <v-btn icon mr-1
            @click="$emit('refresh')"
        >
            <v-icon>refresh</v-icon>
        </v-btn>
        <v-btn icon
            @click="$emit('close')"
        >
            <v-icon>visibility_off</v-icon>
        </v-btn>
        <template v-slot:extension>
            <v-tabs
                v-model="selectedLang"
                color="transparent"
                grow
            >
                <v-tab
                    v-for="lang in langs" :key="lang"
                >
                    {{ lang }}
                </v-tab>
            </v-tabs>
        </template>
    </v-toolbar>
    <v-tabs-items v-model="selectedLang">
        <v-tab-item
            v-for="(content, lang) in stato" :key="lang"
        >
    <v-card-text>
                {{ content }}
        </v-card-text>
        </v-tab-item>
    </v-tabs-items>
    <v-card-text>{{ response.data }}</v-card-text>
</v-card>
</template>

<script>
import { keys } from 'lodash'
export default {
    props: {
        response: {
            type: Object,
            required: true
        }
    },
    computed: {
        id () {
            return this.response.id
        },
        stato () {
            return this.response.stato
        },
        langs () {
            return keys(this.stato)
        }
    },
    data () {
        return {
            selectedLang: null
        }
    }
    ,created () {
        console.log(this.id, this.langs)
    }
}
</script>

