<template>
    <div>{{ $t('hello') }} {{ $t('world') }} {{ $t('local') }}
    </div>
</template>

<script>
import IFlag from '../components/IFlag'
export default {
    i18n: {
        messages: {
            en: {
                local: 'hello'
            }
        }
    },
    components: {
        IFlag
    },
    data () {
        return {
            locales: []
        }
    },
    created () {
        this.$api.get('i18n/locales').then(res => {
            this.locales = res.data
        })
        window.c = this
    }
}
</script>
