<template>
<v-app>
  <questura-drawer />
  <languages-drawer />
  <v-toolbar
  app
  dark
  color="blue-grey"
  clipped-right
  >
      <v-toolbar-title class="mr-5 align-center">
        <span class="title">{{ $t('titolo') }}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
      round
      smalls
      outline
      color="white"
      @click="toggleLanguagesDrawer"
      >{{ $i18n.locale }}</v-btn>
  </v-toolbar>
  <v-content>
    <v-container fluid>
      <questura-search />
      <v-divider />
      <router-view />
    </v-container>
  </v-content>
  <v-footer app> footer</v-footer>
</v-app>
</template>
<script>
import { layoutHelpers } from './store'
const { mapActions } = layoutHelpers
export default {
  components: {
    LanguagesDrawer: () => import('./components/LanguagesDrawer'),
    QuesturaSearch: () => import('./components/QuesturaSearch'),
    QuesturaDrawer: () => import('./components/QuesturaDrawer')
  },
  methods: {
    ...mapActions(['toggleLanguagesDrawer']),
  }
}
</script>
